<template>
  <div id="game">
    <Start v-on:slot-start="onStart"></Start>

    <SlotBase v-on:slot-selected-value="inputResult" 
      v-bind:stateflg="this.$store.getters.getStateflg">
    </SlotBase>
    <SlotBase v-on:slot-selected-value="inputResult"
      v-bind:stateflg="this.$store.getters.getStateflg">
    </SlotBase>
    <SlotBase v-on:slot-selected-value="inputResult"
      v-bind:stateflg="this.$store.getters.getStateflg">
    </SlotBase>

    <Modal v-if="this.$store.getters.getModalflg"
      v-on:close="offModal">{{ this.result }}</Modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import Start from '@/components/Start.vue'
import SlotBase from '@/components/SlotBase.vue'
import Modal from '@/components/Modal.vue'


@Component({
  components: {
    Start,
    SlotBase,
    Modal,
  },
})
export default class Game extends Vue {
  private result = [];
  
  @Watch('result')
  private stopGame() {
    // SlotBaseコンポーネントの数を知る
    let slots = document.querySelectorAll('[id^=slot-value-]');
    // 全てのSlotBaseコンポーネントが動作完了時に実行する
    if (this.result.length === slots.length) {
      // resultの値をスロット順に入替
      let i = 0;
      for (let slotobj of slots) {
        this.result[i] = slotobj.value;
        i++;
      }
      // モーダル表示
      this.onModal();
      this.$store.commit('addResult', {
        result: this.result
      });
      this.offStart();
    }
  }
  private created () {
    this.resultMessage = '';
    this.offStart();
    this.result = [];
  }
  private inputResult (num) {
    this.result.push(num);
  }
  private onStart (e) {
    this.$store.commit('chgStateflg', {
      stateflg: true
    });
  }
  private offStart () {
    this.$store.commit('chgStateflg', {
      stateflg: false
    });
  }
  private onModal () {
    this.$store.commit('chgModalflg', {
      modalflg: true
    });
  }
  private offModal (e) {
    this.$store.commit('chgModalflg', {
      modalflg: false
    });
    // 一時的に保持している値をリセット
    this.result = [];
  }
}

</script>