<template>
  <div class="slot-form">
    <input v-bind:id="slotvalue" class="slot-view" type="text" v-model="value">
    <input class="slot-button" v-bind:disabled="!canStart" type="button" value="STOP" v-on:click="onSelected" v-bind:class="{'button-disabled': !canStart }">
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit,
 Watch, Prop } from 'vue-property-decorator';

@Component()
export default class SlotBase extends Vue {
  private value = '0';
  private valueList = [
    '0', '1', '2', '3', '4', '5', '6', '7'
  ];
  private canStart = false;
  private timer = null;
  @Prop()
  private stateflg!: boolean;

  get slotvalue (): string {
    return 'slot-value-' + this._uid;
  }

  @Watch('stateflg')
  private startSlot () {
    if (this.stateflg === true) {
      this.canStart = true;
      this.start();
    }
  }
  private changeValue (number) {
    if (number && Math.abs(number) <= this.valueList.length) {
      this.value = this.valueList[number];
    } else {
      let num = Math.floor(Math.random() * this.valueList.length)
      this.value = this.valueList[num];
    }
  }
  private start () {
    this.timer = setInterval(() => {
      this.changeValue();
    }, (1000 / 12));
  }

  @Emit('slot-selected-value')
  private onSelected () {
    // setInterval()でセットしたタイマーを解除する
    clearInterval(this.timer);
    // スロットが終ったら、buttonはdisabledする
    this.canStart = false;
    // 親へ値を返す
    return this.value;
  }
}
</script>

<style>
.slot-form {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 11em;
  height: 12em;
  border: 1px solid black;
}
.slot-view {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 3em;
  width: 100px;
}
.slot-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  background-color: lightblue;
}
.button-disabled {
  pointer-events : none;
  background-color: gray;
}
</style>