<template>
  <div id="start-button" class="start-button-form">
    <input class="start-button" type="button" value="START" v-on:click="onClick">
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';

@Component({})
export default class Start extends Vue {
  
  @Emit('slot-start')
  private onClick(): boolean {
    return true;
  }
}
</script>

<style>
.start-button-form {
  display: block;
  margin: 10px auto;
}
.start-button {
  display: block;
  margin: 0 auto;
  padding: 0 130px;
  text-align: center;
  background-color: greenyellow;
  font-size: 2em;
}
</style>